body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:  #236923;
    height: 500px;
    width: 400px;
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 20px 20px;
    color:  #236923;
    text-align: center;
}




.caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
}
select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}
select:focus{ outline: none;}

.caja::after{
    content:"\025be";
    display:table-cell;
    padding-top:7px;
    text-align:center;
    width:30px;
    height:30px;
    background-color:#d9d9d9;
    position:absolute;
    top:0;
    right:0px;	
    pointer-events: none;
}
                    

input {
    margin: 5px 0 5px 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height:30px;
    width: 220px;
}

.button {
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {opacity: 1}

.currency {
    padding-left:12px;
}

.currency-symbol {
    position:absolute;
    padding: 2px 5px;
}